 *{
    padding: 0;
    margin: 0;  
    box-sizing: border-box; 
}

/* Estilos generales del body */
body{
    font-family: Arial, Helvetica, sans-serif; 
    background-image: url(../Imagenes/Testing.jpg); 
    background-size: cover; 
    background-attachment: static; 
    color: rgb(0, 0, 0);
}


/* Estilo del encabezado 1*/
h1{
    font-size: 36px;
    color: white;
    margin-bottom: 10px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

/* Estilo del encabezado 2*/
h2{
    font-size: 32px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}


/* Estilo del contenedor del menú */
.menu{
    background-color: rgb(34, 34, 34);
    padding: 20px;
    text-align: center; 
}

/* Elimina los bullets de la lista */
.menu ul{
    list-style: none;
}

/* Ítems del menú en línea y con margen entre ellos */
.menu li{
    display: inline;
    margin: 0 20px;
}

/* Enlaces del menú */
.menu ul li a{
    color: aliceblue; 
    text-decoration: none; 
    font-weight: bold; 
    font-size: 18px; 
    transition: 0.3s; 
}

/* Cambio de color al pasar el mouse sobre el enlace */
.menu ul li a:hover{
    color: rgb(129, 129, 129); 
}

/* Estilo del contenedor de inicio */
.login img{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
    transition: 0.3s;
    cursor: pointer;
}

.login img:hover{
    transform: scale(1.1); 
}

/* Estilo opciones del perfil */
.opcionesPerfil {
    display: none;
    position: absolute;
    top: 61px;
    right: 0px;
    background-color: rgb(34, 34, 34);
    border: 1px rgb(0, 0, 0) solid;
    width: 150px;
}

.opcionesPerfil a {
    display:block;
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 15px;
}

.opcionesPerfil a:hover {
    color: rgb(129, 129, 129);
}

#togglePerfil:checked + label + .opcionesPerfil {
    display: block;
}

/* Estilo de bienvenida */
.bienvenida {
    text-align: center;
    padding: 20px;
    margin: 25px 100px 25px 100px;
    border-radius: 10px;
}

/* Estilo del texto de bienvenida */
.bienvenida p {
    color: white;
    margin-bottom: 20px; 
}

.contenido p {
    font-size: 18px;
    line-height: 1.5; 
    color: white; 
}

/* Contenedor principal del contenido */
.contenidoInicio {
    margin: 25px;
    max-width: auto;
    text-align: center;
}


/* Contenedor para la sección de servicios */
.serviciosPopulares {
    text-align: center;
    padding: 20px;
    background-color: rgba(34, 34, 34, 0.5);
    max-width: auto; 
}

/* Estilo de imágenes dentro de listas ordenadas */
.serviciosPopulares ol li img{
    object-fit: cover; 
    width: 300px;
    height: 300px;
    border-radius: 15px; 
    padding-top: 3px;
    padding-left: 3px;
    padding-right: 3px;
}

/* Estilo de los ítems de lista ordenada */
.serviciosPopulares ol li{
    display: inline-block; 
    width: 300px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
}
/* Estilo del texto debajo de las imágenes */
.serviciosPopulares p{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    color: rgb(0, 0, 0); 
}

/* Enlaces dentro de los servicios sin subrayado */
.serviciosPopulares a{
    text-decoration: none;
}

/* Animación suave para agrandar elementos al pasar el mouse */
.serviciosPopulares li{
    transition: 0.3s;
}

/* Efecto de "zoom" al pasar el mouse */
.serviciosPopulares li:hover{
    transform: scale(1.05);
}

/* Estilo de imágenes en listas no ordenadas */
.serviciosPopulares li img{
    object-fit: cover;
    width: 250px;
    height: 250px;
    border-radius: 15px;
    padding-top: 3px;
    padding-left: 3px;
    padding-right: 3px;
}

/* Estilo de los ítems de lista no ordenada */
.serviciosPopulares li{
    display: inline-block;
    width: 250px;
    margin: 25px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}


/* Contenedor para la sección de servicios */
.Servicios {
    text-align: center;
    margin: 10px;
    padding: 20px;
    background-color: rgba(37, 30, 30, 0.212);
    max-width: auto;
    border-radius: 5px;
}

/* Estilo de imágenes dentro de listas ordenadas */
.Servicios ol li img{
    object-fit: cover; 
    width: 300px;
    height: 300px;
    border-radius: 15px;
    padding-top: 3px;
    padding-left: 3px;
    padding-right: 3px;
}

/* Estilo de los ítems de lista ordenada */
.Servicios ol li{
    display: inline-block; 
    width: 300px;
    margin: 15px;
    text-align: center;
    background-color: rgb(255, 255, 255); 
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
}
/* Estilo del texto debajo de las imágenes */
.Servicios p{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    color: rgb(0, 0, 0); 
}

/* Enlaces dentro de los servicios sin subrayado */
.Servicios a{
    text-decoration: none;
}

/* Animación suave para agrandar elementos al pasar el mouse */
.Servicios li{
    transition: 0.3s;
}

/* Efecto de "zoom" al pasar el mouse */
.Servicios li:hover{
    transform: scale(1.05);
}

/* Estilo de imágenes en listas no ordenadas */
.Servicios li img{
    object-fit: cover;
    width: 250px;
    height: 250px;
    border-radius: 15px;
    padding-top: 3px;
    padding-left: 3px;
    padding-right: 3px;
}

/* Estilo de los ítems de lista no ordenada */
.Servicios li{
    display: inline-block;
    width: 250px;
    margin: 25px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

/* Estilo del Login */
.login-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(34, 34, 34);
    padding: 30px 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form h1 {
    text-align: center;
    color: white;
    margin-bottom: 35px;
}

.login-form input {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
}

.login-form input{
    width: 350px;
    font-size: 16px;
}

.login-form button {
    padding: 10px;
    background-color: rgb(129, 129, 129); 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
}

.login-form button:hover {
    background-color: rgb(73, 73, 73); 
}

.login-form input:focus {
    outline: none;
    border: 2px solid rgb(129, 129, 129); 
}


/* Estilo del Register */
.register-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(34, 34, 34);
    padding: 30px 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
}

.register-form {
    display: flex;
    flex-direction: column;
}

.register-form h1 {
    text-align: center;
    color: white;
    margin-bottom: 35px;
}

.register-form input {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
}

.register-form input{
    width: 350px;
    font-size: 16px;
}

.register-form button {
    padding: 10px;
    background-color: rgb(129, 129, 129); 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
}

.register-form button:hover {
    background-color: rgb(73, 73, 73); 
}

.register-form input:focus {
    outline: none;
    border: 2px solid rgb(129, 129, 129); 
}


.rememberMe input[type="checkbox"] {
    width: 20px;
    height: 15px;
}

.rememberMe p {
    display: inline;
    position: fixed;
    color: white;
}

.log-options {
    text-decoration: none;
    list-style: none;
    text-align: center;
    margin-top: 15px;
    color: white;
}

.log-options a {
    color: white;
    text-decoration: none;
}

.log-options a:hover {
    color: rgb(129, 129, 129);
}