/* Reset de márgenes y paddings, y box-sizing para todos los elementos */
*{
    padding: 0;
    margin: 0;  
    box-sizing: border-box; 
}

/* Estilo de la selección de texto */
::selection {
  background: rgb(119, 119, 119); /* color de fondo de la selección */
  color: white;        /* color del texto seleccionado */
}

/* Estilos generales del body */
body{
    font-family: "Montserrat"; 
    background-attachment: static; 
    background-color: white;
    color: rgb(0, 0, 0);
}

/* Estilo del encabezado 1*/
h1{
    text-align: center;
    font-size: 124px;
    font-family: "Montserrat";
    font-weight: 500;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    margin-top: 50px;
}

/* Estilo del encabezado 2*/
h2{
    text-align: center;
    font-size: 32px;
    font-family: "Montserrat";
    font-weight: 500;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
}

/* Estilo del párrafo */
p{
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 400;
    color: rgb(0, 0, 0);
}

/* Estilo del contenedor del menú */
.menu{
    position: fixed;
    background-color: rgb(34, 34, 34);
    width: 100%;
    top: 0%;
    padding: 20px;
    text-align: center;
    z-index: 1000;
}

/* Elimina los bullets de la lista */
.menu ul{
    list-style: none;
}

/* Ítems del menú en línea y con margen entre ellos */
.menu li{
    display: inline;
    margin: 0 20px;
}

/* Enlaces del menú */
.menu ul li a{
    color: aliceblue; 
    text-decoration: none; 
    font-weight: 400; 
    font-size: 18px;
    font-family: "Montserrat"; 
    transition: 0.3s; 
}

/* Cambio de color al pasar el mouse sobre el enlace */
.menu ul li a:hover{
    color: rgb(129, 129, 129); 
}

/* Estilo del contenedor de inicio */
.login img{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
    transition: 0.3s;
    cursor: pointer;
}

/* Efecto hover para el icono de inicio de sesión */
.login img:hover{
    transform: scale(1.1); 
}

/* Estilo opciones del perfil */
.opcionesPerfil {
    display: none;
    position: absolute;
    font-family: "Montserrat";
    top: 61px;
    right: 0px;
    background-color: rgb(34, 34, 34);
    border: 1px rgb(0, 0, 0) solid;
    width: 150px;
}

/* Estilo del checkbox para el toggle del perfil */
.opcionesPerfil a {
    display:block;
    color: white;
    text-decoration: none;
    padding: 15px;
}

/* Estilo del label para el toggle del perfil */
.opcionesPerfil a:hover {
    color: rgb(129, 129, 129);
}

/* Estilo del checkbox para el toggle del perfil */
#togglePerfil:checked + label + .opcionesPerfil {
    display: block;
}

/* Estilo contenedor bienvenido */
.bienvenida {
    background-image: url(../Resources/Images/background.png);
    background-size: cover;
    background-attachment: static;
    background-repeat: no-repeat;
    background-position: 0 20px;
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 950px;
    text-align: center;
}

.bienvenida h1{
    font-size: 4rem;
    margin-bottom: 20px;
    font-weight: bold;
    color: #222;
}

.bienvenida h2 {
    margin-bottom: 15px;
}

/* Estilo del contenedor de reserva */
.reserva{
    background: rgba(255, 255, 255, 0.9);
    padding: 30px 40px;
    border-radius: 20px;
    max-width: 500px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.15);
}

/* Estilo del título de reserva */
.reserva h1{
    font-size: 38px;
}

/* Estilo del párrafo dentro del contenedor de reserva */
.reserva p{
    font-size: 18px;
    margin: 20px 20px 40px 20px;
    color: #555;
}

/* Estilo del botón de reserva */
.btnReserva {
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    padding: 12px 0;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

/* Estilo del enlace dentro del botón de reserva */
.btnReserva a {
    text-decoration: none;
    border-radius: 30px;
    padding: 12px 25px;
    padding: 12px 25px;
    color: rgb(0, 0, 0);
}

/* Efecto hover para el botón de reserva */
.btnReserva:hover {
    transition: 0.3s;
    background-color: rgb(187, 187, 187);
    color: white;
}

/* Estilo del h2 y p compartido */
.nosotros h2, p{
    text-align: center;
    margin-right: 25%;
    margin-left: 25%;
}

/* Estilo del título de nosotros */
.nosotros h2{
    margin-top: 20px;
    padding-top: 32px;
    margin-bottom: 20px;
}

/* Estilo del texto de nosotros */
.nosotros p {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 18px;
    margin-bottom: 60px;
}

/* Estilo del contenedor de mapa */
.mapa {
    align-items: center;
    width: 50%;
    height: 550px;
    margin: auto auto 85px auto; /* centrado horizontal */
    border-radius: 10px;
    overflow: hidden; /* para que el borde redondeado afecte al iframe */
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

/* Estilo del iframe dentro del contenedor de mapa */
.mapa iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

/* Estilo del contenedor de servicios */
.serviciosPreview {
    text-align: center;
    background-color: rgb(250, 250, 250);
    margin-top: 20px;
    padding-top: 32px;
    padding-bottom: 30px;
}

/* Contenedor para la lista de servicios en la página principal */
.serviciosIndex {
    align-items: center;
    margin: auto;
    width: 60%;
}

/* Estilo de los ítems de lista no ordenada */
.serviciosIndex li{
    display: inline-block;
    width: 280px;
    margin: 25px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
}

/* Estilo de imágenes en listas no ordenadas */
.serviciosIndex li img{
    object-fit: cover;
    width: 280px;
    height: 280px;
    border-radius: 8px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

/* Estilo del texto debajo de las imágenes */
.serviciosIndex p{
    font-family: "Montserrat";
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin: 0 10px 5px 10px;
    color: rgb(0, 0, 0);
}

/* Enlaces dentro de los servicios sin subrayado */
.serviciosIndex a{
    text-decoration: none;;
}

/* Animación suave para agrandar elementos al pasar el mouse */
.serviciosIndex li{
    transition: 0.3s;
}

/* Efecto de "zoom" al pasar el mouse */
.serviciosIndex li:hover{
    transform: scale(1.02);
}

/* Estilo del botón ver más servicios */
.verMasServicios {
    margin: 20px 0 20px 0;
    padding: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Montserrat";
    font-size: 18px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
}

/* Efecto hover para el botón ver más servicios */
.verMasServicios a {
    padding: 10px 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.verMasServicios:hover {
    transition: 0.3s;
    background-color: rgb(216, 216, 216);
    color: white;
}

/* Estilo del contenedor de productos */
.productosPreview{
    text-align: center;
    padding-top: 90px;
    padding-bottom: 90px;
}

/* Estilo del título de productos */
.productosPreview h2{
    margin-bottom: 20px;
}

/* Contenedor para la lista de servicios en la página principal */
.productosIndex {
    align-items: center;
    margin: auto;
    width: 80%;
}

/* Estilo de los ítems de lista no ordenada */
.productosIndex li{
    display: inline-block;
    width: 340px;
    margin: 25px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
}

/* Estilo de imágenes en listas no ordenadas */
.productosIndex li img{
    object-fit: cover;
    width: 330px;
    height: 280px;
    border-radius: 8px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

/* Estilo del texto debajo de las imágenes */
.productosIndex p{
    font-family: "Montserrat";
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin: 0 10px 5px 10px;
    color: rgb(0, 0, 0);
}

/* Enlaces dentro de los servicios sin subrayado */
.productosIndex a{
    text-decoration: none;
}

/* Animación suave para agrandar elementos al pasar el mouse */
.productosIndex li{
    transition: 0.3s;
}

/* Efecto de "zoom" al pasar el mouse */
.productosIndex li:hover{
    transform: scale(1.04);
}

/* Estilo del contenedor de servicios */
.servicios {
    border-top: 2px solid black;
    text-align: center;
    background-color: rgb(241, 241, 241);
    padding-bottom: 30px;
}

/* Estilo del título de servicios */
.servicios h2{
    margin-top: 72px;
    margin-bottom: 20px;
}

/* Contenedor para la lista de servicios en la página principal */
.serviciosList {
    align-items: center;
    margin: auto;
    width: 60%;
}

/* Estilo de los ítems de lista no ordenada */
.serviciosList li{
    display: inline-block;
    width: 280px;
    margin: 25px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
}

/* Estilo de imágenes en listas no ordenadas */
.serviciosList li img{
    object-fit: cover;
    width: 280px;
    height: 280px;
    border-radius: 8px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

/* Estilo del texto debajo de las imágenes */
.serviciosList p{
    font-family: "Montserrat";
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin: 0 10px 5px 10px;
    color: rgb(0, 0, 0);
}

/* Enlaces dentro de los servicios sin subrayado */
.serviciosList a{
    text-decoration: none;
}

/* Animación suave para agrandar elementos al pasar el mouse */
.serviciosList li{
    transition: 0.3s;
}

/* Efecto de "zoom" al pasar el mouse */
.serviciosList li:hover{
    transform: scale(1.02);
}

/* Contenedor de productos */
.productos{
    border-top: 2px solid black;
    text-align: center;
    background-color: rgb(241, 241, 241);
    padding-bottom: 30px;
}

/* Estilo del título de productos */
.productos h2{
    margin-top: 72px;
    margin-bottom: 20px;
}

/* Contenedor para la lista de servicios en la página principal */
.productosList {
    align-items: center;
    margin: auto;
    width: 80%;
}

/* Estilo de los ítems de lista no ordenada */
.productosList li{
    display: inline-block;
    width: 340px;
    margin: 25px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
}

/* Estilo de imágenes en listas no ordenadas */
.productosList li img{
    object-fit: cover;
    width: 330px;
    height: 280px;
    border-radius: 8px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

/* Estilo del texto debajo de las imágenes */
.productosList p{
    font-family: "Montserrat";
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin: 0 10px 5px 10px;
    color: rgb(0, 0, 0);
}

/* Enlaces dentro de los servicios sin subrayado */
.productosList a{
    text-decoration: none;
}

/* Animación suave para agrandar elementos al pasar el mouse */
.productosList li{
    transition: 0.3s;
}

/* Efecto de "zoom" al pasar el mouse */
.productosList li:hover{
    transform: scale(1.04);
}

/* Estilo del Login */
.login-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(34, 34, 34);
    padding: 30px 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    font-family: "Montserrat";
}

/* Estilo del formulario de login */
.login-form {
    display: flex;
    flex-direction: column;
}

/* Estilo del título del formulario de login */
.login-form h2 {
    text-align: center;
    color: white;
    margin-bottom: 35px;
    font-size: 48px;
}

/* Estilo de los campos de entrada del formulario de login */
.login-form input {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    width: 350px;
    font-size: 16px;
    font-family: "Montserrat";
    background-color: rgba(255, 255, 255, 0.8);
}

/* Estilo del botón de envío del formulario de login */
.login-form button {
    padding: 10px;
    background-color: rgb(129, 129, 129); 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
    font-family: "Montserrat";
}

/* Efecto hover para el botón de envío del formulario de login */
.login-form button:hover {
    background-color: rgb(73, 73, 73); 
}

/* Estilo al enfocar los campos de entrada del formulario de login */
.login-form input:focus {
    outline: none;
    border: 2px solid rgb(129, 129, 129); 
}

/* Estilo del Register */
.register-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(34, 34, 34);
    padding: 30px 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    font-family: "Montserrat";
    z-index: 1000;
}

/* Estilo del formulario de registro */
.register-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Estilo del título del formulario de registro */
.register-form h2 {
    text-align: center;
    color: white;
    margin-bottom: 35px;
    font-size: 48px;
}

/* Estilo de los campos de entrada del formulario de registro */
.register-form input {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    width: 350px;
    font-family: "Montserrat";
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.8);
}

/* Estilo del botón de envío del formulario de registro */
.register-form button {
    padding: 10px;
    background-color: rgb(129, 129, 129); 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: "Montserrat";
    margin-top: 15px;
}

/* Efecto hover para el botón de envío del formulario de registro */
.register-form button:hover {
    background-color: rgb(73, 73, 73); 
}

/* Estilo al enfocar los campos de entrada del formulario de registro */
.register-form input:focus {
    outline: none;
    border: 2px solid rgb(129, 129, 129); 
}

/* Estilo del checkbox recordar sesión */
.rememberMe input[type="checkbox"] {
    width: 20px;
}

/* Estilo del texto recordar sesión */
.rememberMe p {
    margin-left: -4px;
    bottom: 1px;
    display: inline;
    position: relative;
    color: white;
}

/* Estilo de las opciones del login */
.log-options {
    text-decoration: none;
    list-style: none;
    text-align: center;
    margin-top: 15px;
    color: white;
}

/* Estilo de los enlaces dentro de las opciones del login */
.log-options a {
    color: white;
    text-decoration: none;
}

/* Efecto hover para los enlaces dentro de las opciones del login */
.log-options a:hover {
    color: rgb(129, 129, 129);
}

/* Estilo de la lista de contactos */
.contacto {
    text-align: center;
    background-color: rgb(241, 241, 241);
    padding-top: 32px;
    padding-bottom: 30px;
}

/* Estilo del título de contacto */
.contacto h2{
    margin-top: 20px;
    padding-top: 32px;
    margin-bottom: 20px;
}

/* Estilo de la lista de contactos */
.contacto ul{
    list-style: none;
}

/* Estilo de los ítems de la lista de contactos */
.contacto ul li{
    margin: 0 15px;
    font-size: 18px;
    color: rgb(0, 0, 0);
}

/* Estilo de los enlaces dentro de la lista de contactos */
.contacto img{
    width: 40px;
}

/* Contenedor de la agenda */
.agenda{
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
    width: 260px;
    max-width: 90%;
    padding: 10px;
    z-index: 500;
    text-align: center;
}

/* En pantallas pequeñas, dejar flujo normal para evitar solapamientos */
@media (max-width: 600px) {
    .agenda{
        position: static;
        transform: none;
        margin: 0px auto;
        width: 90%;
    }
}

/* Estilo del título de la agenda */
.agenda h3{
    width: 240px;
    font-weight: 600;
    margin: 10px;
    text-align: center;
    margin-top: 92px;
}

/* Estilo del contenedor de la agenda */
.agenda a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
    background-color: black;
}

/* Estilo del texto de la agenda */
.agenda p{
    font-family: "Montserrat";
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin: 0 10px 0 10px;
    color: rgb(0, 0, 0);
}

/* Estilo de la lista de la agenda */
.agenda ul{
    width: 220px;
    height: 600px;
    scrollbar-width: thin;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    list-style: none;
    margin: 0 0 0 20px;
    padding: 0;
}

/* Estilo de los ítems de la lista de la agenda */
.agenda li{
    margin: 10px 0;
}

/* Estilo de los labels de la agenda */
.agenda label {
    display: block;
    padding: 10px;
    border-radius: 10px;
    font-family: "Montserrat";
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    transition: 0.3s;
    background-color: white;
    color: black;
}

/* Efecto hover para los labels de la agenda */
.agenda label:hover {
    transition: 0.3s;
    background-color: rgb(230, 230, 230);
}

/* Estilo de los radio buttons de la agenda */
.agenda input[type="radio"]:checked + label {
    background-color: rgb(230, 230, 230);
    font-weight: 500;
}

/* Estilo de la info */
.info-servicio {
    border-radius: 10px;
    width: 60%;
    margin-top: -792px;
    margin-left: 240px;
}

/* Paneles ocultos */
.panel {
    display: none;
}

/* Estilo del footer */
.footer{
    background-color: rgb(34, 34, 34);
    color: white;
    text-align: center;
    padding: 30px 0 10px 0;
    margin-top: 0;
    font-family: "Montserrat";
}

/* Estilo del título del footer */
.redes h3{
    margin-bottom: 20px;
}

/* Estilo del contenedor de redes sociales */
.redes img{
    width: 40px;
    height: 40px;
}

/* Estilo del título del footer */
.redes ul{
    margin: 0px;
    list-style: none;
}

/* Estilo de los ítems de la lista de redes sociales */
.redes ul li{
    display: inline;
    margin: 0 10px;
}

/* Estilo de los enlaces dentro de la lista de redes sociales */
.redes ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

/* Efecto hover para los enlaces dentro de la lista de redes sociales */
.copyright p{
    margin: 30px 0 0 0;
    color: white;
    font-size: 14px;
}

/* Estilo del texto de copyright */
.copyright span{
    font-style: italic;
    font-weight: 600;
}